doctype 5
html(lang="en")
    head
        include knacss.css
        include style.css 
        link(rel="shortcut icon", href="favicon.png")
        title="Cozic, listen to your music from anywhere."
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        script(src='jquery-2.0.0.min.js')
        script(src='fade-text.js')
        script(type='text/javascript').
          $(document).ready(function() {
            $('.left-bar').hide();
            $('.left-bar').slideDown(900);
          });
    body
        .left-bar.clearfix
            .container.mt2
                p
                    img.title-icon(src="./icon.png", alt="Cozic Logo")
                    br
                h1.mt3 Cozic
                h2.mt0 Listen to your music from anywhere

            .other
                h3 + Upload and organize your files by artist, title or album
                h3 + Manage your playlists
                h3 + Download Creative Commons content from Youtube
                h3 + Play songs with your smartphone

                h2 Setup
                p.text.
                    Go to your Cozy app store and select Cozic from the list.

                h2 Preview
                p
                    a(href="https://demo.cozycloud.cc/apps/cozic/")
                        button Have a look at the demo
                    br
                    a(href="https://github.com/rdubigny/cozic")
                        button Check the code on Github
